.wrapper-modal {
    flex-direction: column;
    inset: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #00000094;
    z-index: 1000;
}

.modal-window {
    position: relative;
    width: 90%;
    max-width: 500px;
    background-color: rgb(141, 141, 141);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

}