.overlay {
    inset: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
    z-index: 1000;
}

.window {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: var(--color-surface);
    border-radius: var(--radius);
    box-shadow: var(--shadow-md);
    padding: 24px;
}