* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.employee-form-flex {
    width: 100%;
    font-size: 1.4rem;
    padding: 20px;
    margin: 40px 0;
}

.employee-form-flex form {
    display: flex;
    gap: 5px;


    & input[type='text'],
    & input[type='password'] select {
        width: 100%;
    }
}