.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    & button {
        margin: 20px;
    }
}
.grid-cards-employees{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px;
    

}
.card-employee{
    background-color:#333645;
    min-width: 200px;
    min-height: 150px;
    border-radius: 10px;
    
}